---
name: Release

# on:
#   workflow_run:
#     workflows:
#       - Run Tests
#     types:
#       - completed
on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    # if: github.ref_type == 'tag'
    steps:
      - uses: actions/checkout@v3
      - name: release
        env:
          DOCKER_BUILDKIT: 1
        run: |

          docker build . \
            --target release \
            --build-arg PYPI_TOKEN=${{ secrets.PYPI_TOKEN }}
